<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-info" >
        <div class="panel-heading">
          <div class="panel-title"><%= name %></div>
        </div>
        <div style="padding-top:30px" class="panel-body" >
          <%= simple_form_for @event do |f| %>
            <%= f.input :title %>
            <%= f.input :text %>
            <%= f.input :date, as: :datetime, html5: true%>
            <%= f.input :place, input_html: { id: 'autocomplete', placeholder: "Enter your address", onfocus: "geolocate()", type: "text"} %>
            <%= f.input :logo, as: :file %>
            <%= f.button :submit %>
          <% end %>
          <%= render 'map_field' %>
        </div>
      </div>
    </div>
  </divs>
