<!DOCTYPE html>
<html>
  <head>
    <title>EventAgregator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  </head>

  <body>
    <% if can? :manage, Event %>
      <%= current_user.email %>
    <% end %>
    <%= yield %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'header-button' %>
  </body>
</html>
